html, body, div, a, ol {
  display: block;
  font-family: "微软雅黑", sans-serif;
}
body {
  background: url('../img/body-bg.jpg') repeat;
}
a {
  text-decoration: none;
}
.container {
  width: 1205px;
}

/* -- header -- */
#header {
  height: 150px;
}

#notice {
  background: url('../img/top-banner-bg.jpg') repeat-x;
  height: 28px;
  font-size: 14px;
  text-align: right;
}

#logo {
  float: left;
}

#header_guide {
  background: url('../img/header-guide-bg.png') no-repeat;
  width: 499px;
  height: 76px;
  float: right;
  margin-top: 50px;
}

#header_guide li {
  float: left;
  width: 105px;
  font-size: 13px;
  margin-top: 34px;
}

#header_guide .first-two {
  width: 106px;
  text-align: center;
}

#header_guide .last-two {
  width: 139px;
  text-align: center;
}

#header_guide a {
  text-decoration: none;
  color: #000;
}

/* -- body -- */
#guide {
  background: url('../img/header-bg.jpg') repeat-x;
  width: 100%;
  min-width: 1205px;
  height: 67px;
}

#guide-inner {
  height: 67px;
}

#guide-inner ul {
}

#guide-inner li {
  float: left;
  margin-top: 10px;
}

#guide-inner .text {
  width: 160px;
  height: 55px;
  text-align: center;
  font-size: 19px;
  margin-top: 6px;
}

#guide-inner .text a {
  margin-top: 17px;
  color: #fff;
}

#guide-inner .index {
  background: url('../img/header-focused.png') no-repeat;
  background-position: center center;
  width: 100px;
}

#guide-inner a:hover {
  text-decoration: none;
}

#carousel {
  height: 425px;
}

#carousel .item {
  background-color: #777;
  height: 425px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  min-width: 1205px;
  overflow: hidden;
}

.carousel-indicators {
  position: absolute;
  top: auto;
  right: auto;
  left: 50%;
  bottom: 15px;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
}

.carousel-indicators .dot {
  background: url("../img/pic-cell-black.png") no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
}

.carousel-indicators .active {
  background: url("../img/pic-cell-white.png") no-repeat;
  background-size: 16px 16px;
}

/* general button style */
.button-link {
  background: url('../img/but-bg.png') no-repeat;
  background-size: 177px 140px;
  background-position: 0 0;
  height: 48px;
  width: 177px;
  text-decoration: none;
  font-size: 22px;
  font-style: bold;
  font-family: "黑体", sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 22px;
}
.button-link:hover {
  background-position: 0 -70px;
  text-decoration: none;
  color: #fff;
}

/* -- footer -- */
#footer, #footer_upper, #footer_lower {
  width: 100%;
  min-width: 1205px;
}

ul, li {
  overflow: hidden;
}

#footer_upper {
  background-color: #166298;
  height: 240px;
}

#footer_upper .span3 {
  margin-top: 20px;
}

#footer_upper span {
  color: #5496c6;
  font-size: 18px;
}

#footer_upper a {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 12px;
}

#footer_upper .footer-mod {
  width: 251px;
  padding-right: 40px;
  padding-left: 10px;
  float: left;
  margin-top: 24px; 
}

#footer_upper hr {
  background: url('../img/footer-hehe.png');
  margin-top: 8px;
  margin-bottom: 20px;
  height: 2px;
  border: 0;
}

#footer_lower {
  background-color: #0c4a75;
  height: 110px;
  color: #ffffff;
  font-size: 15px;
  padding-top: 10px;
}

#footer_lower span {
  float: right;
}

