.sidebar-nav, .main-body {
  margin-top: 30px;
}

/* sidebar */
.sidebar-nav {
  background: url("../img/trade-platform/left-box-bg.png") no-repeat;
  width: 274px;
  height: 346px;
  float: left;
}

.sidebar-nav .nav-header {
  margin-top: 33px;
  margin-bottom: 37px;
  font-size: 26px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

.sidebar-nav .item{
  height: 58px;
  //margin-top: 8px;
  //margin-bottom: 9px;
  font-size: 21px;
  color: #fff;
  text-align: center;
  line-height: 58px;
}

.sidebar-nav .item:hover {
  background: url("../img/trade-platform/left-box-hover.png") no-repeat;
  background-position: center center;
}

.sidebar-nav .item {
  text-decoration: none;
}

.sidebar-nav hr {
  margin-top: 8px;
  margin-bottom: 9px;
  background: url("../img/trade-platform/left-box-divider.png") repeat-x;
  border: 0;
  height: 2px;
}

/* right-content */
.main-body {
  width: 834px;
  height: 555px;
  float: left;
  margin-left: 40px;
  border: 1px #a6a6a8 solid;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.main-body #color-block {
  height: 10px;
  width: 100%;
  background-color: #c3c3c3;
}

.main-body .title {
  font-size: 20px;
  color: #498fc2;
  margin-top: 20px;
  margin-left: 35px;
}

.main-body hr {
  background: url("../img/trade-platform/right-box-top-divider.png") repeat-x;
  margin-top: 13px;
  margin-bottom: 23px;
  margin-left: 15px;
  margin-right: 15px;
  height: 2px;
  border: 0;
}

.main-body p {
  font-size: 20px;
  color: #4f4f4f;
  margin-left: 35px;
  margin-right: 35px;
}

.download {
  background: url("../img/trade-platform/right-box-dl-bg.png") no-repeat;
  width: 245px;
  height: 228px;
  margin-top: 30px;
  margin-left: 25px;
  float: left;
}

.download p {
  font-size: 22px;
  text-align: center;
  margin-top: 15px;
}

.download-link {
  background: url("../img/trade-platform/btn-dl.png") no-repeat;
  width: 144px;
  height: 59px;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
}
