.sidebar-nav, .main-body {
  margin-top: 30px;
}

/* sidebar */
.sidebar-nav {
  background: url("../img/trade-platform/left-box-bg.png") no-repeat;
  width: 274px;
  height: 346px;
  float: left;
}

.sidebar-nav .nav-header {
  margin-top: 33px;
  margin-bottom: 37px;
  font-size: 26px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}

.sidebar-nav .item{
  height: 58px;
  /* margin-top: 8px; */
  /* margin-bottom: 9px; */
  font-size: 21px;
  color: #fff;
  text-align: center;
  line-height: 58px;
}

.sidebar-nav .item:hover {
  background: url("../img/trade-platform/left-box-hover.png") no-repeat;
  background-position: center center;
}

.sidebar-nav .item {
  text-decoration: none;
}

.sidebar-nav hr {
  margin-top: 8px;
  margin-bottom: 9px;
  background: url("../img/trade-platform/left-box-divider.png") repeat-x;
  border: 0;
  height: 2px;
}

/* main-body */
.main-body {
  width: 836px;
  height: 497px;
  float: left;
  margin-left: 40px;
  border: 1px #a6a6a8 solid;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.main-body #color-block {
  height: 10px;
  width: 100%;
  background-color: #c3c3c3;
}

.main-body .head {
  font-size: 20px;
  color: #498fc2;
  margin-top: 20px;
}

/* left and right */
.left, .right {
  float: left;
}

/* left body */
.main-body .left {
  width: 400px;
  margin-left: 42px;
  margin-right: 10px;
}

#carousel-1 {
  height: 400px;
}

#carousel-1 .item {
  height: 400px;
  margin-top: 0;
  margin-left: 0;
}

.carousel-1-inner {
  position: relative;
  width: 100%;
  min-width: 400px;
  overflow: hidden;
}

.carousel-1-indicators {
  height: 25px;
  position: absolute;
  top: -22px;
  left: 278px;
  z-index: 5;
}

.carousel-1-indicators li {
  width: 25px;
  height: 25px;
  text-indent: 8px;
  font-size: 14px;
  color: #fff;
}

.carousel-1-indicators .btn-con {
  display: block;
  background: url("../img/trade-info/right-top-num-bg.png") no-repeat;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
}

.carousel-1-indicators .active {
  background: url("../img/trade-info/right-top-num-bg-hover.png") no-repeat;
  background-size: 25px 25px;
  color: #1b71ae;
}

.carousel-1-indicators .btn-con:hover {
  background: url("../img/trade-info/right-top-num-bg-hover.png") no-repeat;
  background-size: 25px 25px;
}

.left .title {
  width: 362px;
  height: 67px;
  margin-left: 1px;
  margin-right: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 15px;
  font-size: 24px;
  color: #000;
  background-color: #c3c3c3;
}

.left .date {
  margin-top: 13px;
  font-size: 17px;
  color: #959595;
}

.left .intro {
  margin-top: 27px;
  font-size: 19px;
  line-height: 35px;
}

.vertical-divider {
  height: 478px;
  width: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  background: url("../img/trade-info/right-divider-bg.png") repeat-y;
  border: 0;
  float: left;
}

/* right body */
.main-body .right {
  width: 382px;
}

.main-body .right .category ul {
  margin-bottom: 0px;
}

.main-body .right .category li {
  float: left;
}

.main-body .right .category a {
  font-size: 18px;
  color: #8d8d8d;
  margin-top: 21px;
  margin-left: 12px;
  margin-right: 12px;
  text-decoration: none;
}

.main-body .right .category .active {
  color: #000;
}

.main-body .right .category hr {
  background: url("../img/trade-info/right-top-divider.png") no-repeat;
  width: 1px;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  border: 0;
}

.right-horizontal-divider {
  background: url('../img/trade-platform/right-box-top-divider.png');
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 16px;
  height: 2px;
  border: 0;
}

.main-body .right .part {
  display: none;
}

.main-body .right .news-item {
  margin-top: 14px;
  margin-left: 12px;
  overflow: hidden;
}

.main-body .right .news-item span {
  float: left;
}

.main-body .right .news-item .news-date {
  font-size: 16px;
  color: #000;
}

.main-body .right .news-item .news-tag {
  margin-left: 6px;
  font-size: 16px;
  color: #d2a031;
}

.main-body .right .news-item .news-title {
  margin-left: 13px;
  font-size: 14px;
  color: #eaeaec;
}
